absl-py==0.12.0
appdirs==1.4.4
argcomplete==1.12.0
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.5.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.1.0
Beaker==1.10.0
beautifulsoup4==4.9.3
bleach==3.2.3
blivet==3.3.3
blivet-gui==2.3.0
Bottleneck==1.2.1
Brlapi==0.8.2
cached-property==1.5.2
cachetools==4.2.1
cffi==1.14.5
chardet==4.0.0
chess==1.5.0
chrome-gnome-shell==0.0.0
click==7.1.2
cramjam==2.3.2
cryptography==3.4.6
cson==0.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.21
dasbus==1.4
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.0rc2
distro==1.5.0
Django==3.1.6
entrypoints==0.3
et-xmlfile==1.1.0
evdev==1.1.2
fastcache==1.1.0
fastparquet==0.7.0
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
fros==1.1
fsspec==2021.7.0
gast==0.4.0
gmpy2==2.1.0b6
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
gpg==1.15.1
grpcio==1.34.1
gssapi==1.6.9
h5py==3.1.0
html5lib==1.1
huggingface-hub==0.0.8
humanize==0.5.1
idna==2.10
ipykernel==5.4.3
ipython==7.20.0
ipython_genutils==0.1.0
isort==5.8.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
keras-nightly==2.5.0.dev2021032500
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
koji==1.26.0
langtable==0.0.56
lazy-object-proxy==1.6.0
libcomps==0.1.17
lutris==0.5.8.4
lxml==4.6.3
Mako==1.1.4.dev0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.3
mccabe==0.6.1
mercurial==5.7.1
meson==0.59.1
mistune==0.8.3
mock==3.0.5
mpmath==1.2.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.6
nftables==0.1
nibabel==3.2.1
notebook==6.1.6
numexpr==2.7.1
numpy==1.20.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.3.56
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.5
pandas-datareader==0.9.0
pandocfilters==1.4.1
parso==0.8.0
Paste==3.5.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
pika==1.2.0
Pillow==8.1.2
Pivy==0.6.5
pluggy==0.13.1
ply==3.11
productmd==1.33
progressbar2==3.52.1
prometheus-client==0.9.0
prompt-toolkit==3.0.5
protobuf==3.15.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycollada==0.7.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.6
pydicom==2.2.1
pyenchant==3.2.1
pygit2==1.5.0
pyglet==1.5.11
Pygments==2.7.4
PyGObject==3.40.1
pygpu==0.7.6
pykickstart==3.32
pylint==2.7.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.7
PyQt5==5.15.0
PyQt5_sip==4.19.24
pyrsistent==0.17.3
PySide2==5.15.2
PySocks==1.7.1
python-augeas==0.5.0
python-chess==1.999
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-meh==0.50
python-utils==2.4.0
pytz==2021.1
pyudev==0.22.0
pywal==3.3.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-oauthlib==1.3.0
rpm==4.16.1.3
rpmautospec==0.2.5
rsa==4.7.2
sacremoses==0.0.45
scikit-learn==0.24.1
scipy==1.6.2
scour==0.38.1
seaborn==0.11.1
selinux==3.2
Send2Trash==1.4.2
sepolicy==3.2
setools==4.4.0
shiboken2==5.15.2
simpleaudio==1.0.4
simplejson==3.17.2
simpleline==1.8
six==1.15.0
sklearn==0.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.1
soupsieve==2.2
speg==0.3
sqlparse==0.4.1
sympy==1.4
systemd-python==234
tables==3.6.1
tb-nightly==2.5.0a20210325
Tempita==0.5.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf-estimator-nightly==2.5.0.dev2021032501
tf-nightly==2.5.0.dev20210325
Theano-PyMC==1.0.13
threadpoolctl==2.1.0
thrift==0.13.0
tokenizers==0.10.2
toml==0.10.2
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
transformers==4.6.1
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
